In [46]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [47]:
df=pd.read_csv("/Users/urmisikhadash/Desktop/netflixfile.csv",header=None)
t=[]
for i in range(0,7466):
    t.append([str(df.values[i,j]) for j in range(0,20)])
print(t[:5])  # Display the first 5 transactions

[['The Lord of the rings', 'Cinema Paradiso', 'Se7en', 'Avengers: Infinity War', 'The Shining', 'High and Low ', 'Terminator 2: Judgment Day', 'Toy Story', 'City of God', 'Witness for the Prosecution', '12 Angry Men', 'Whiplash', 'Black Panther', 'Hamilton', 'The Dark Knight', 'Once Upon a Time in the West', 'The Great Dictator', 'Back to the Future', 'Aliens', 'Comedy nights with Kapil'], ['The Shawshank Redemption', 'Fight Club', 'Pulp Fiction', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['The Godfather', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['The Godfather: Part II', 'Se7en', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'], ['The Dark Knight', 'The Intouchables', "One Flew Over the Cuckoo's Nest", 'whole wheat Star Wars: Episode V - The Empire Strikes Back', 'Whiplash', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']]

In [48]:
%pip install apyori

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/pty.py:95: DeprecationWarning: This process (pid=88620) is multi-threaded, use of forkpty() may lead to deadlocks in the child.
  pid, fd = os.forkpty()

Requirement already satisfied: apyori in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [49]:
from apyori import apriori
rules=apriori(transactions=t,min_support=0.01,min_confidence=0.2,min_lift=3)

In [50]:
res=list(rules)
res

[RelationRecord(items=frozenset({'inception', 'Interstellar'}), support=0.015938923118135547, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Interstellar'}), items_add=frozenset({'inception'}), confidence=0.3216216216216216, lift=3.262536721504113)]),
 RelationRecord(items=frozenset({'inception', 'Interstellar', 'nan'}), support=0.015938923118135547, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Interstellar'}), items_add=frozenset({'inception', 'nan'}), confidence=0.3216216216216216, lift=3.262536721504113), OrderedStatistic(items_base=frozenset({'Interstellar', 'nan'}), items_add=frozenset({'inception'}), confidence=0.3216216216216216, lift=3.262536721504113)])]

In [51]:
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

te = TransactionEncoder()
te_ary = te.fit(t).transform(t)
df = pd.DataFrame(te_ary, columns=te.columns_)

# Apply apriori algorithm to find frequent itemsets with a minimum support
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)

# Print the frequent itemsets
print("Frequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
    support itemsets
0  0.999866    (nan)

In [52]:
def inspect(results):
    p1 = []
    p2 = []
    supports = []
    confidences = []
    lifts = []

    for result in results:
        for stat in result.ordered_statistics:
            p1.append(", ".join(stat.items_base))
            p2.append(", ".join(stat.items_add))
            supports.append(result.support)
            confidences.append(stat.confidence)
            lifts.append(stat.lift)

    return list(zip(p1, p2, supports, confidences, lifts))

# Convert to DataFrame
dfint = pd.DataFrame(inspect(res), columns=['Movie1', 'movie2', 'support', 'confidence', 'lift'])
dfint

              Movie1          movie2   support  confidence      lift
0       Interstellar       inception  0.015939    0.321622  3.262537
1       Interstellar  inception, nan  0.015939    0.321622  3.262537
2  Interstellar, nan       inception  0.015939    0.321622  3.262537

In [53]:
import pandas as pd

# Refined inspect function
def inspect(res):
    lhs = []
    rhs = []
    supports = []

    for result in res:
        for ordered_stat in result.ordered_statistics:
            lhs.append(", ".join(ordered_stat.items_base))
            rhs.append(", ".join(ordered_stat.items_add))
            supports.append(result.support)

    return list(zip(lhs, rhs, supports))

# Convert results into DataFrame
results_in_dataframe = pd.DataFrame(inspect(res), columns=['Movie 1', 'Movie 2', 'Support'])


# Drop duplicate rows
results_in_dataframe = results_in_dataframe.drop_duplicates()

# Reset index for better readability
results_in_dataframe = results_in_dataframe.reset_index(drop=True)

# Display cleaned DataFrame
print(results_in_dataframe)

             Movie 1         Movie 2   Support
0       Interstellar       inception  0.015939
1       Interstellar  inception, nan  0.015939
2  Interstellar, nan       inception  0.015939

In [54]:
results_in_dataframe.nlargest(n=10,columns='Support')

             Movie 1         Movie 2   Support
0       Interstellar       inception  0.015939
1       Interstellar  inception, nan  0.015939
2  Interstellar, nan       inception  0.015939